/*  body  */

body {
  background-color: lightblue;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  color: black;
  text-align: center;
}

#temp {
  text-align: center;
  color: black;
  font-size: 68px;
  margin-bottom: 2px;
}

#weather-icon {
  text-align: center;
  background-size: 30px;
}

#b1 {
  text-align: center;
  margin: auto;
  display: block;
  font-size: 15px;
  background-color: pink;
  margin-bottom: 20px;
}


